/*css for all saved tweets */
.all-tweets article {
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
  border-radius: 15px;
  margin: 5px 2em;
}

.all-tweets article:hover {
  border-color: black;
}

.all-tweets header {
  height: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  background-color: #eee;
  color: #6e7075;
}

.all-tweets article:hover header {
  color: black;
}

.all-tweets img {
  float: left;
  border-radius: 15px;
  width: 80px;
  height: 80px;
}

.all-tweets p.name {
  float: left;
  padding-left: 10px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
}

.all-tweets p.handle {
  float: right;
  margin-top: 5px;
}

.all-tweets footer {
  padding: 10px;
  height : 60px;
}

.all-tweets p.time {
  display: inline-block;
  margin-top: 0px;
}

.all-tweets .tweet {
  height: 100px;
  padding: 10px;
  border-bottom: solid #eee;
  border-width: 1px;
  word-wrap: break-word;
}

.items {
  color: #93ba84;
  display: none;
  height: 20px;
}

.all-tweets article:hover .items {
  display: inline-block;
  float: right;
}
