/*css for the box creating a new tweet*/
.new-tweet {
  border-radius: 15px;
  background: #eee;
  padding: 10px;
  margin: 5px 2em;
  display: none;
}

.container h2:first-child {
  width: 100%;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
  margin: 0 auto;
}

.new-tweet textarea {
  width: 100%;
  padding: 10px;
}

.new-tweet form {
  padding-top: 20px;
}

.new-tweet .counter {
  float: right;
}

.new-tweet .counterred{
  color: red;
}